<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS_LZhomeAppliances.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4464C0DD1C97D8530092B91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4464C0F61C97D8530092B91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4464C1011C97D8530092B91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
